<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Add a Car</title>
    </head>
    <body>
        <h1>Sell a Car!</h1>
            <form class="" action="/car_created" method="post">
                <label for="model">Model:</label>
                <input type="text" name="model" id="model">
                <br>

                <label for="price">Price:</label>
                <input type="number" name="price" id="price">
                <br>
                <label for="mileage">Mileage:</label>
                <input type="number" name="mileage" id="mileage">
                <br>
                <label for="image">Image:</label>
                <input type="text" name="image" id="image">
                <br>

                <button type="submit" name="button">Sell your Car!</button>


            </form>

    </body>
</html>
