<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
      <meta charset="utf-8">
      <link href="../css/styles.css" rel="stylesheet" type="text/css"
        <meta charset="utf-8">
        <title>Delete address book</title>
    </head>
    <body>
      <div class="jumbotron text-center" id="noFriends">
        <h1>You now have no more friends!</h1>
            <form action="/">
                <button type="submit" class="btn btn-success btn-sm" name="button">Home Page</button>
            </form>
      </div>

    </body>
</html>
