<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Delete address book</title>
    </head>
    <body>
        <h1>You've deleted the address book!</h1>
            <form action="/">
                <button type="submit" name="button">Home Page</button>
            </form>

    </body>
</html>
